*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: transparent ;
    text-shadow: 0 0 3px red;
    font-size: 20px;
}

@media(max-width:1170px){
    i{
        font-size: 16px;
    }
}


@media(max-width:998px){
    i{
        font-size: 12px;
    }

    ul{
        line-height: 8px;
        --he : 5 !important;
    }
}



@media(max-width:760px){
    i{
        font-size: 10px;
    }
}


@media(max-width:670px){
    i{
        font-size: 7px;
    }
    ul{
        line-height: 6px;
        --he:3 !important;
    }
}



@media(max-width:370px){
    i{
        font-size: 3px;
    }
    ul{
        line-height:0px;
        animation: bounce 3s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
        --he:2 !important;
        margin: 0px 5px !important;
    }
    li{
        animation: none !important;
    }
}


.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg , lightseagreen , tomato);
    bottom: 0;
}

.text{
    position: fixed;
    top: 0;
    background: transparent !important;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    padding: 0;
    --he : 10;
    margin: 0 10px;
    list-style: none !important;
    animation: bounce 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
    animation-delay: calc(var(--del)*0.7s);
}

li{
    text-align: center;
    --le:4;
    animation: transit 0.5s cubic-bezier(0,.97,1,-1.11) infinite;
    animation-delay: calc(var(--i)*0.003s);
}

@keyframes transit{
    0%,100%{
        transform: translateX(calc(var(--le) * 10px));
    }
    50%{
        transform: translateX(0px);
    }
}


@keyframes bounce{
    0%,100%{
        transform: translateY(calc(var(--he)*3px));
    }
    50%{
        transform: translateY(calc(var(--he)*-3px));
    }
}